@import "color";
@import "break-points";
@import "mixins";

.wrapper {
  @include bp(sm-max){
    height: 100%;
  }
  .page-wrapper {
    &.verify-wrapper {
      background-color: $white;
      @include border-radius(8px);
      height: 100%;
      margin: 23px 60px;

      @include bp(md-max) {
        margin: 53px 30px;
      }

      @include bp(sm-max) {
        padding: 53px 46px 23px 50px;
        margin: 11px 0 0;
        @include border-radius(0);
      }

      .verify-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 570px;
        max-width: 100%;
        margin: 0 auto;

        .bulk-title {
          margin-bottom: 55px;

          @include bp(md-max) {
            margin-bottom: 27px;
          }
        }

        .verify-box {
          display: flex;
          width: 100%;

          .box-left,
          .box-right {
            width: 260px;
            border: 1px solid #DBE3EE;
            @include border-radius(4px);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 40px 15px 33px;
            text-align: center;
            cursor: pointer;
            transition: all 0.5s;

            @include bp(smd-max) {
              padding: 30px 16px;
            }

            @include bp(xs-max) {
              width: 146px;
              padding: 29px 16px 25px;
            }

            &:hover {
              background-color: $lightGrey11;
              border-color: $primaryGreen;
            }

            .image-block {
              margin-bottom: 41px;

              @include bp(smd-max) {
                margin-bottom: 18px;
              }
            }

            p {
              font-size: 16px;
              font-weight: 600;
              color: $menuColor;

              @include bp(smd-max) {
                font-size: 14px;
              }
            }
          }

          .box-left {
            margin-right: 26px;

            @include bp(sm-max) {
              margin-right: 24px;
            }
          }
        }

        /** verify stepper css start  **/
        .verify-stepper {
          width: 100%;
          ul {
            position: relative;
            @include bp(sm-max){
              display: none;
            }

            li {
              display: inline-block;
              width: 33.33%;
              position: relative;
              z-index: 1;
              text-align: center;

              &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: calc(100% - 20px);
                height: 2px;
                background-color: $lightGrey;
                right: 0;
              }

              &:first-child {
                &::after {
                  width: 50%;
                  left: auto;
                  right: 0;
                }
              }

              &:last-child {
                &::after {
                  width: 50%;
                  left: auto;
                  right: 70%;
                }
              }

              &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: -2px;
                right: 0;
                width: 6px;
                height: 6px;
                @include border-radius(25px);
                background-color: $lightGrey;
                z-index: 1;
              }

              &:first-child {
                &::before {
                  content: none;
                }
              }

              &:last-child {
                &::before {
                  left: 30%;
                }
              }

              .progress-active {
                width: 28px;
                min-width: 28px;
                height: 28px;
                background-color: $menuColor;
                @include border-radius(50%);
                position: absolute;
                display: inline-block;
                left: 50%;
                bottom: 28px;
                z-index: 1;

                &:after {
                  content: '';
                  position: absolute;
                  width: 6px;
                  height: 6px;
                  min-width: 6px;
                  line-height: 6px;
                  left: 50%;
                  top: 50%;
                  @include translate(-50%, -50%);
                  @include border-radius(25px);
                  background-color: $lightGrey;
                }
              }

              p {
                margin-top: 20px;
                color: $lightGrey1;
                font-size: 12px;
                font-weight: 500;
              }
            }
          }

          .service-inner {
            padding: 0 70px;

            @include bp(sm-max) {
              padding: 0;
            }

            .bulk-title {
              margin-top: 69px;
              margin-bottom: 42px;

              @include bp(lg-max) {
                margin: 30px 0;
              }
              @include bp(sm-max){
                margin: 0 0 37px;
              }
            }

            .download-wrapper {
              .download-option {
                margin-bottom: 45px;
                @include bp(sm-max){
                  margin-bottom: 28px;
                }

                .mat-stroked-button {
                  background-color: $white !important;
                  border: 1px solid $darkGrey8;
                  @include border-radius(4px);
                  width: 100%;
                  text-align: left;
                }
              }

              .download-button {
                .btn-success {
                  @include border-radius(4px);
                  border: 1px solid rgba(83, 113, 157, 0.2);
                  background-color: $primaryGreen;
                  width: 100%;
                  color: $white;
                  padding: 12px 0;
                  font-size: 15px;
                  font-weight: 500;

                  @include bp(smd-max) {
                    padding: 8px 0;
                  }
                  &:disabled{
                    opacity: 0.5;
                    cursor: not-allowed;
                  }
                }
              }
            }
          }
        }

        // file upload css start
        .verify-file {
          .bulk-title {
            margin-bottom: 65px;

            @include bp(lg-max) {
              margin-bottom: 30px;
            }

            @include bp(sm-max){
              margin-bottom: 28px;
            }
          }

          .file-upload-main {
            width: 520px;
            height: 196px;
            padding: 35px 15px 21px;
            text-align: center;
            border: 1px dashed $file-border;
            position: relative;
            @include border-radius(8px);
            @include bp(sm-max){
              width: 100%;
              height: auto;
              padding: 21px 27px 33px 26px;
            }

            input {
              opacity: 0;
              position: absolute;
              z-index: 2;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              cursor: pointer;
            }

            .upload-icon {
              margin-bottom: 39px;
            }

            .upload-content {
              h3 {
                font-size: 16px;
                font-weight: 400;
                color: $black2;

                label {
                  color: $blue3;
                  cursor: pointer;
                  margin-bottom: 0;
                  font-weight: 400;
                }
              }

              span {
                color: $file-text;
                font-size: 13px;
                font-weight: 400;
                padding-top: 12px;
              }
            }
          }

          .skip-button {
            margin-top: 34px;
            text-align: center;
            @include bp(sm-max){
              margin-top: 18px;
            }

            a {
              color: $offBlack3;
              font-weight: 700;
              font-size: 17px;
              @include bp(sm-max){
                font-size: 14px;
              }
            }
          }

          .files-list {
            margin-top: 27px;

            .single-file {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .delete {
                cursor: pointer;
              }

              .name {
                font-size: 16px;
                font-weight: 400;
                color: $black2;
              }

              .size {
                font-size: 13px;
                font-weight: 400;
                color: $file-size;
                margin: 0;
              }

              .info {
                width: 100%;
                margin-left: 10px;
              }
            }

            .progress-cont {
              .progress {
                background-color: $primaryGreen2;
              }
            }
          }

          .button-combo {
            margin-top: 70px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .btn-success {
              line-height: 15px;
            }

            a {
              padding-left: 24px;
              font-size: 14px;
              font-weight: 400;
              color: $black;
            }
          }
        }
      }
    }
  }
}
