@import "color";
@import "form-elements";
@import "break-points";
@import "mixins";

header {
  position: fixed;
  left: 100px;
  right: 0;
  top: 0;
  background: $white;
  z-index: 5;

  @include bp("sm-max") {
    left: 0;
    z-index: 99;
  }

  ::ng-deep .has-top-notification & {
    // top: 45px;
  }

  .top-header {
    height: 80px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $lightGrey;

    ::ng-deep .has-top-notification &{
      height: 75px !important;
      @include bp(md-max){
        height: 73px;
      }
    }

    @include bp(md-max) {
      padding: 0 15px;
    }

    @include bp(sm-max) {
      height: 65px;
    }

    .top-left-header {
      display: flex;
      align-items: center;

      .menu-icon {
        width: 25px;
        height: 20px;
        position: relative;
        @include rotate(0deg);
        @include transition(.5s ease-in-out);
        cursor: pointer;
        display: none;
        margin-right: 14px;

        @include bp(sm-max) {
          display: block;
        }

        span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background: $black;
          @include border-radius(5px);
          opacity: 1;
          left: 0;
          @include rotate(0deg);
          @include transition(.3s ease-in-out);

          &:nth-child(1) {
            top: 0px;
          }

          &:nth-child(2) {
            top: 8px;
          }

          &:nth-child(3) {
            top: 16px;
          }
        }

        &.menu-open {
          span {
            &:nth-child(1) {
              top: 10px;
              @include rotate(136deg);
            }

            &:nth-child(2) {
              opacity: 0;
              left: -60px;
            }

            &:nth-child(3) {
              top: 10px;
              @include rotate(-136deg);
            }
          }
        }
      }

      h1 {
        display: flex;
        align-items: center;

        .back {
          font-size: 14px;
          color: $lightGrey1;
          margin-right: 20px;
          @include bp(sm-max){
            margin-right: 10px;
          }
        }
      }
    }

    .top-right-header {
      display: flex;
      align-items: center;
      margin-right: 32px;

      @include bp(sm-max) {
        margin-right: 0;
      }

      .header-items {
        position: relative;

        &:last-child {
          &:after {
            display: none;
          }
        }

        &:after {
          content: "";
          position: absolute;
          right: -24px;
          top: -7px;
          bottom: -10px;
          width: 1px;
          background: $lightGrey;

          @include bp("sm-max") {
            content: none;
          }
        }

        +.header-items {
          margin-left: 49px;

          @include bp("sm-max") {
            margin-left: 25px;
          }
        }
        .has-language {
          width: 100px;
          max-width: 100%;
        }
        .name {
          font-size: 16px;
          line-height: 1.2;
          color: $menuColor;
          font-weight: 500;
        }

        .user-id {
          font-size: 12px;
          line-height: 1.2;
          color: $lightGrey1;
        }

        .arrow-btn {
          padding: 0 9px 0 0;
          border-radius: 50%;
          min-width: inherit;

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            @include translateY(-50%);
            right: -4px;
            height: 7px;
            width: 10px;
            background-size: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("~/src/assets/images/down-arrow.svg");
          }

          .mat-ripple,
          .mat-button-focus-overlay,
          ::ng-deep .mat-ripple,
          ::ng-deep .mat-button-focus-overlay {
            display: none;
          }

          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
