<div class="wrapper">
    <div class="error-container">
        <div class="error-500">
          <img src="../../../assets/images/error-image.svg" />
          <h2>Drats!</h2>
          <div class="text">
            An Error Occurred while trying to load this page. You can trying
            reloading the page or maybe you don't permission to view this page
          </div>
          <button class="reload-btn" (click)="reload()">
            Reload Page
          </button>
        </div>
      </div>
</div>
