<div class="custom-modal">
  <div class="modal-body">
    <div class="golive-popup">
      <em class="thumb"><img src="assets/images/go-live-illustration.svg" alt=""></em>
      <h3>{{'You_can’t_go_live_just_yet' | translate}}</h3>
      <p>{{'approval_process_message' | translate}}</p>
        <div class="btn-block">
          <button mat-raised-button color="green">{{'Send_a_reminder' | translate }}</button>
          <button mat-raised-button mat-dialog-close>{{'Cancel' | translate}}</button>
        </div>
    </div>
  </div>
</div>