@import "break-points";

.mobile-filters {
  padding: 15px 15px 0;
  display: none;

  @include bp(sm-max) {
    display: block;
  }

  .mobile-inner {
    display: flex;
    .lg {
      width: 78%;
      @include bp(xs-max){
        width: 65%;
      }
    }

    .select {
      width: calc(22% - 15px);
      margin-left: 15px;
      @include bp(xs-max){
        width: calc(35% - 15px);
      }
    }
  }
}
