$black: #000;
$black2: #051F11;
$black3: #4C4C4D;
$white: #fff;
$offWhite2: #E9F7EE;
$offWhite3: #E9E9F0;
$offWhite4: #F5F9FB;
$primaryGreen: #48b971;
$primaryGreen2: #4BB775;
$menuColor: #104f55;
$bodyBg: #f2f7fa;
$lightGrey: #dbe3ee;
$blue: #0e34a0;
$blue2: #1275E8;
$blue3: #216EF4;
$lightGrey1: #717171;
$lightGrey2: #808b9d;
$lightGrey3: #f6f7fb;
$lightGrey4: #A2A2A2;
$lightGrey5: #f7f7f7;
$lightGrey6: #efefef;
$lightGrey7: #F0F3F8;
$lightGrey8: #AAAAAA;
$lightGrey9: #889489;
$lightGrey10: #f1f1f1;
$lightGrey11: #F6FBF8;
$file-text: #828F88;
$file-border: #BAC3C6;
$file-size: #788190;
$modalHeaderBg: #f4f6fa;
$darkGrey: #576277;
$darkGrey2: #707070;
$darkGrey3: #8c9baf;
$darkGrey4: #4B4B4B;
$darkGrey5: #ACACAC;
$darkGrey6: #879388;
$darkGrey7: #dadada;
$darkGrey8: #788190;
$darkGrey9: #878787;
$offWhite: #edf4ed;
$offWhite1: #E3E4E5;
$offBlack: #2c2c2c;
$offBlack2: #001a03;
$offBlack3: #06232C;
$offBlack4: #354159;
$offBlack5: #F0F0F0;
$offBlack6: #1A051D;
$offBlack7: #c3c3c3;
$offRed: #fde0e0;
$red: #ea0c0c;
$red-light: #DA4167;
$sky: #E0FDEA;
$green1: #1DC9B7;
$green2: #35C635;
$green3: #005F22;
$green4: #48BA71;
$green5: #486973;
$green6: #089628;
$lightGreen: #ACBFAE;
$yellow: #EA8E12;
$orange: #F7991B;
$silver1: #596B71;
$lightOrange: #ffa600b4;
$offOrange: #EA8E1236;