@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$primaryFont: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
$hindFont: 'Hind', sans-serif;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$materialIcons: 'Material Icons', sans-serif;